.vs
src/PersonalWebsite/wwwroot/bin
src/PersonalWebsite/node_modules
src/PersonalWebsite/Properties/PublishProfiles/*
src/PersonalWebsite/wwwroot/css/Build/*
src/PersonalWebsite/wwwroot/js/Build/*
src/PersonalWebsite/wwwroot/lib/*

artifacts
src/PersonalWebsite/bin
src/PersonalWebsite/obj
test/PersonalWebsite.tests/bin
test/PersonalWebsite.tests/obj

src/PersonalWebsite/*.user
obj
