body {
    background: #fff;
    font-family: "Ubuntu", Verdana, Geneva, Tahoma, sans-serif
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.language--switchers {
    padding-top: 2em;
}

.language--switchers a {
    white-space: nowrap;
}

.presentation--header {
    font-size: 2em;
    line-height: 2em;
}

.presentation--header h1 {
    font-size: 1.2em;
}

.presentation--links {
    font-size: 2em;
    line-height: 1.7em;
    padding-bottom: 2em;
}

.presentation--links--disabled {
    opacity: 0.9;
    font-weight: bold;
}

a, .btn-link {
    text-decoration: underline !important;
}

.logout--button {
    margin: 0px;
    margin-top: -3px;
    margin-right: 1em;
    display: inline-block;
    padding: 0px;
}
