.body {
    background: #eff;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.presentation--header {
    font-size: 2em;
    line-height: 2em;
}

.presentation--header h1 {
    font-weight: bold;
    font-size: 1.2em;
}

.presentation--links {
    font-size: 2em;
    line-height: 1.7em;
    padding-bottom: 2em;
}

a {
    border-bottom: solid 1px;
}

a:hover {
    text-decoration: none !important;
}