@section Title {
    You have been locked out
}

<header>
    <h1 class="text-danger">You have been locked out</h1>
    <p class="text-danger">This account has been locked out, please try again later.</p>
</header>
