@model IndexViewModel
@section Title {
    Change your account settings
}

<h2>Change your account settings</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>
<div>
    <div>
        <a asp-controller="Manage" asp-action="ChangePassword">Change password</a>
    </div>
</div>
