@model PageViewModel
@foreach (var item in new[] { new LanguageUIDefinition(LanguageDefinition.en_us, "English"),
                              new LanguageUIDefinition(LanguageDefinition.de_de, "Deutsch"),
                              new LanguageUIDefinition(LanguageDefinition.ru_ru, "Русская версия") })
{
    if (Model.ContentViewModel.UrlNames.ContainsKey(item.Language))
    {
        if (Model.Language != item.Language)
        {
            if (Model.IsDefaultPage())
            {
                <a href="" prefix-with-language=@item.Language>@item.Header</a>
            }
            else
            {
                <a href=@Model.ContentViewModel.UrlNames[item.Language] prefix-with-language=@item.Language>@item.Header</a>
            }
        }
        else
        {
            @Html.Raw($"&#10551; {item.Header}")
        }
    }
}

