@inherits NonNullableModelView<PageViewModel>

@model PageViewModel
@foreach (var item in new[] { new LanguageUIDefinition(LanguageDefinition.en_us, "In English"),
                              new LanguageUIDefinition(LanguageDefinition.de_de, "Auf Deutsch"),
                              new LanguageUIDefinition(LanguageDefinition.ru_ru, "Русская версия") })
{
    if (NNModel.ContentViewModel.UrlNames.ContainsKey(item.Language))
    {
        if (NNModel.Language != item.Language)
        {
            if (NNModel.IsDefaultPage())
            {
                <a href="" prefix-with-language=@item.Language>@item.Header</a>
            }
            else
            {
                <a href=@NNModel.ContentViewModel.UrlNames[item.Language] prefix-with-language=@item.Language>@item.Header</a>
            }
        }
        else
        {
            <span class="active">
                @item.Header
            </span>
        }
    }
}

