@model PageViewModel
<p>
    @foreach (var item in new[] { new { Language = LanguageDefinition.en_us, Title = "English" },
                                  new { Language = LanguageDefinition.de_de, Title = "Deutsch" },
                                  new { Language = LanguageDefinition.ru_ru, Title = "Русская версия" } })
    {
        @if (Model.Language != item.Language)
        {
            <a href=@Model.ContentViewModel.UrlNames[item.Language] prefix-with-language=item.Language>@item.Title</a>
        }
        else
        {
            @Html.Raw($"&#10551; {item.Title}")
        }
    }

</p>
