@model ContentViewModel
<p>
    Different versions are available
    <a href=@Model.UrlNames[LanguageDefinition.en_us] prefix-with-language=LanguageDefinition.en_us>In English</a>
    <a href=@Model.UrlNames[LanguageDefinition.de_de] prefix-with-language=LanguageDefinition.de_de>Deutsch</a>
    <a href=@Model.UrlNames[LanguageDefinition.ru_ru] prefix-with-language=LanguageDefinition.ru_ru>Русская версия</a>
</p>
