<!DOCTYPE html>
<html>
    <head>
        @model PageViewModel

        <meta charset="utf-8"/>
        <title>@RenderSection("Title") ⇒ @await Html.PartialAsync("_Title")</title>

        <link rel="stylesheet" href="~/css/Build/app.css" asp-append-version="true"/>
        <script type="text/javascript" src="~/js/Build/app.bundle.js" asp-append-version="true"></script>
        
        @RenderSection("CustomHeader") 
    </head>
    <body>
        <header>
            @await Html.PartialAsync("_Header")
        </header>

        <div class="languages">
            @await Html.PartialAsync("_Languages", Model)
        </div>

        <div class="links">
            @await Html.PartialAsync("_Links")
        </div>

        <div class="content">
            @RenderBody()
        </div>
    </body>
</html>
