@foreach (var predefinedPage in new[] { PredefinedPages.Welcome, PredefinedPages.Contact, PredefinedPages.Resume })
{
    <div class="link">
        @if (Model.ContentViewModel.InternalCaption == predefinedPage.ToString())
        {
            <span class="active">
                @Model.ContentLinksViewModel.CaptionFor(predefinedPage.ToString())
            </span>
        }
        else
        {
            if (@Model.IsDefaultPage(predefinedPage.ToString()))
            {
                <a prefix-with-language=@Model.Language
                   href="">
                    @Model.ContentLinksViewModel.CaptionFor(predefinedPage.ToString())
                </a>
            }
            else
            {
                <a prefix-with-language=@Model.Language
                   href=@Model.ContentLinksViewModel.UrlNameFor(predefinedPage.ToString())>
                    @Model.ContentLinksViewModel.CaptionFor(predefinedPage.ToString())
                </a>
            }

        }
    </div>
}

<div class="link">
    <a href="https://medium.com/@@nettsundere">My blog on Medium</a>
</div>
