@inherits NonNullableModelView<PageViewModel>

@foreach (var predefinedPage in new[] { PredefinedPages.Welcome, PredefinedPages.Contact, PredefinedPages.Resume })
{
    <div class="link">
        @if (NNModel.ContentViewModel.InternalCaption == predefinedPage.ToString())
        {
            <span class="active">
                @NNModel.ContentLinksViewModel.CaptionFor(predefinedPage.ToString())
            </span>
        }
        else
        {
            if (NNModel.IsDefaultPage(predefinedPage.ToString()))
            {
                <a prefix-with-language=@NNModel.Language
                   href="">
                    @NNModel.ContentLinksViewModel.CaptionFor(predefinedPage.ToString())
                </a>
            }
            else
            {
                <a prefix-with-language=@NNModel.Language
                   href=@NNModel.ContentLinksViewModel.UrlNameFor(predefinedPage.ToString())>
                    @NNModel.ContentLinksViewModel.CaptionFor(predefinedPage.ToString())
                </a>
            }

        }
    </div>
}

<div class="link">
    <a href="https://medium.com/@@nettsundere">&uarr; My blog on Medium</a>
</div>
