@using System.Security.Claims

@if (User.IsSignedIn())
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <a asp-controller="Manage" asp-action="Index" title="Manage">Hello @User.GetUserName()!</a>
        <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
    </form>
}
else
{
    <a asp-route-area="Private" asp-controller="Account" asp-action="Login">Log in</a>
}
