<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@RenderSection("Title") | Private </title>
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/css/Build/private.site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <section class="col-xs-12">
                <div class="navbar navbar-default navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-brand">
                            Private area
                        </div>
                        <div class="navbar-collapse">
                            @if(User.Identity.IsAuthenticated) 
                            {
                                 <ul class="nav navbar-nav">
                                    <li asp-controller="Dashboard" asp-action="Index" 
                                        asp-this-context=@(this.ViewContext)
                                        if-current-css-class="active">
                                        <a asp-controller="Dashboard" asp-action="Index">Home</a>
                                    </li>
                                    <li asp-controller="Manage" asp-action="Index"
                                        asp-this-context=@(this.ViewContext)
                                        if-current-css-class="active">
                                        <a asp-controller="Manage" asp-action="Index">Profile management</a>
                                    </li>
                                    <li asp-controller= "Contents" asp-action="Index"
                                        asp-this-context=@(this.ViewContext)
                                        if-current-css-class="active">
                                        <a asp-controller= "Contents" asp-action="Index">Contents</a>
                                    </li>
                                </ul>
                            }
                        </div>
                    </div>
                </div>
                <footer>
                    <article class="container">
                        @RenderBody()
                    </article>
                    <hr>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p>&copy; 2015, Vladimir `nettsundere` Kiselev</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            @await Html.PartialAsync("_LoginPartial")
                        </div>
                    </div>
                </footer>
            </section>
        </div>
    </div>

    <script>
        window.CKEDITOR_BASEPATH = "/lib/ckeditor/";
    </script>

    <environment names="Development,Staging,Production">
        <script src="~/js/Build/private.site.min.js" asp-append-version="true"></script>
    </environment>
</body>
</html>
