<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@RenderSection("Title") &#8658; Private </title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Build/pritvateApp.css" asp-append-version="true" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <section class="col-12">
                <nav class="navbar navbar-expand-md navbar-light bg-light">
                    <div class="navbar-brand">
                        Dashboard
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggle">
                        @if(User?.Identity?.IsAuthenticated == true) 
                        {
                             <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                <li asp-controller="Dashboard" asp-action="Index" 
                                    asp-this-context=@(this.ViewContext)
                                    if-current-css-class="nav-item active" class="nav-item">
                                    <a asp-controller="Dashboard" asp-action="Index" class="nav-link">Home</a>
                                </li>
                                <li asp-controller="Manage" asp-action="Index"
                                    asp-this-context=@(this.ViewContext)
                                    if-current-css-class="nav-item active" class="nav-item">
                                    <a asp-controller="Manage" asp-action="Index" class="nav-link">Profile management</a>
                                </li>
                                <li asp-controller= "Contents" asp-action="Index"
                                    asp-this-context=@(this.ViewContext)
                                    if-current-css-class="nav-item active" class="nav-item">
                                    <a asp-controller= "Contents" asp-action="Index" class="nav-link">Contents</a>
                                </li>
                            </ul>
                        }
                    </div>
                </nav>
                <footer>
                    <article class="container-fluid">
                        @RenderBody()
                    </article>
                    <hr>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <p>&copy; 2018, Vladimir `nettsundere` Kiselev</p>
                        </div>
                    </div>
                </footer>
            </section>
        </div>
    </div>

    <script src="~/js/Build/pritvateApp.bundle.js" asp-append-version="true"></script>
</body>
</html>
