<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@RenderSection("Title") | Private </title>
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/Build/vendor.private.css">
    <link rel="stylesheet" href="/css/Build/site.private.min.css">
    <!-- endinject -->

</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <section class="col-xs-12">
                <div class="navbar navbar-default navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-brand">
                            Private area
                        </div>
                        <div class="navbar-collapse">
                            @if(User.IsSignedIn()) 
                            {
                                 <ul class="nav navbar-nav">
                                    <li>
                                        <a asp-controller="Dashboard" asp-action="Index" 
                                           asp-this-page=@this
                                           if-current-css-class="active">Home</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Manage" asp-action="Index"
                                           asp-this-page=@this
                                           if-current-css-class="active">Profile management</a>
                                    </li>
                                    <li>
                                        <a asp-controller= "Contents" asp-action="Index"
                                           asp-this-page=@this
                                           if-current-css-class="active">Contents</a>
                                    </li>
                                </ul>
                            }
                        </div>
                    </div>
                </div>
                <footer>
                    <article class="container">
                        @RenderBody()
                    </article>
                    <hr>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p>&copy; 2015, Vladimir `nettsundere` Kiselev</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            @await Html.PartialAsync("_LoginPartial")
                        </div>
                    </div>
                </footer>
            </section>
        </div>
    </div>

    <script>
        window.CKEDITOR_BASEPATH = "/lib/ckeditor/";
    </script>
    <!-- inject:js -->
    <script src="/js/Build/vendor.private.js"></script>
    <script src="/js/Build/site.private.min.js"></script>
    <!-- endinject -->

    @RenderSection("scripts", required: false)
</body>
</html>
