@model ContentAndTranslationsEditViewModel

@section Title {
    Create a content
}

<h2>Create</h2>

<form asp-action="Create">
    <div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group row">
            <label class="col-md-2">Internal caption</label>
            <div class="col-md-10">
                <input asp-for="InternalCaption" class="form-control" />
                <span asp-validation-for="InternalCaption" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-md-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
