@model ContentEditViewModel

@section Title {
    Create a content
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label class="col-md-2 control-label">Internal caption</label>
            <div class="col-md-10">
                <input asp-for="InternalCaption" class="form-control" />
                <span asp-validation-for="InternalCaption" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
